Repository Peetee06/flutter-testing-concepts: changes, and which Codecov flags are due for each by the changed paths.
All: Riverpod App, BLoC App

chore: format mockito generated files
  bloc_app/integration_test/mocks.mocks.dart
  bloc_app/test/mocks.mocks.dart
Due: BLoC App

ci: also run app builds when common package changed
  .github/workflows/ci-packages.yaml
Due: none

chore: build runner
  riverpod_app/lib/data/services/rest_client.g.dart
Due: Riverpod App

test: add test for empty content component
  bloc_app/test/domain/section_test.dart
Due: BLoC App

test: move tests into groups and add some
  common/test/src/utils/uri_converter_test.dart
Due: none

ci: fix potential issue in output keys
  .github/workflows/ci-packages.yaml
Due: none

test: add tests to correct files
  common/test/src/domain/answer_test.dart
  common/test/src/domain/concept_test.dart
  common/test/src/domain/section_test.dart
Due: none

ci: fix files changed triggers
  .github/workflows/ci-packages.yaml
Due: none

test: add tests for more URIs cases
  bloc_app/test/common/utils/uri_converter_test.dart
Due: BLoC App

ci: fix coverage reports by prefixing paths
  .github/actions/run-tests/action.yaml
  common/.gitignore
Due: none

ci: prefix paths in json test report
  .github/actions/run-tests/action.yaml
Due: none

Revert "ci: prefix paths in json test report"
  .github/actions/run-tests/action.yaml
Due: none

ci: run on main to get base coverage for codecov
  .github/workflows/ci-packages.yaml
Due: none

ci: add instructions for coderabbit reviews
  .coderabbit.yaml
Due: none

ci: fix indentation of CodeRabbit configuration
  .coderabbit.yaml
Due: none

ci: narrow path on test folders files to dart files
  .coderabbit.yaml
Due: none

chore: add testing rules
  .cursor/rules/testing-rules.mdc
Due: none

docs: use duration in call to future.delayed
  .cursor/rules/testing-rules.mdc
Due: none

docs: fix typos and errors in testing rules
  .cursor/rules/testing-rules.mdc
Due: none

test: add FutureBehavior helper
  riverpod_app/test/helpers/future_behavior.dart
  riverpod_app/test/helpers/helpers.dart
Due: Riverpod App

docs: add documentation for other FutureBehavior properties
  riverpod_app/test/helpers/future_behavior.dart
Due: Riverpod App

test: refactor future behavior and add docstring with example
  riverpod_app/test/helpers/future_behavior.dart
Due: Riverpod App

test: add test to pass coverage threshold
  riverpod_app/lib/app/view/app.dart
  riverpod_app/test/app/view/app_test.dart
Due: Riverpod App

ci: pass project and patch checks if no coverage found
  codecov.yml
Due: none

Path conditions:
  Riverpod App: any of: riverpod_app/**/*
  BLoC App: any of: bloc_app/**/*
