Repository Peetee06/flutter-testing-concepts: changes, and which Codecov flags are due for each by the changed paths.
All: Riverpod App, BLoC App

codecov.yaml:

comment:
  layout: "header, diff, components"

coverage:
  status:
    project:
      default:
    patch:
      default:

component_management:
  individual_components:
    - component_id: riverpod_app
      name: Riverpod App
      paths:
        - riverpod_app/**/*
    - component_id: bloc_app
      name: BLoC App
      paths:
        - bloc_app/**/*

  default_rules:
    statuses:
      - type: project
        target: auto
        base: auto
      - type: patch
        target: auto
        base: auto

ci: pin very_good_cli
  .github/actions/run-tests/action.yaml
Due: none

feat: add rest client provider
  .github/actions/run-tests/action.yaml
  bloc_app/pubspec.lock
  bloc_app/pubspec.yaml
  riverpod_app/lib/app/view/app.dart
  riverpod_app/lib/counter/counter.dart
  riverpod_app/lib/counter/cubit/counter_cubit.dart
  riverpod_app/lib/counter/view/counter_page.dart
  riverpod_app/lib/data/services/rest_client.dart
  riverpod_app/lib/data/services/rest_client.g.dart
  riverpod_app/pubspec.lock
  riverpod_app/pubspec.yaml
  riverpod_app/test/app/view/app_test.dart
  riverpod_app/test/counter/cubit/counter_cubit_test.dart
  riverpod_app/test/counter/view/counter_page_test.dart
Due: Riverpod App, BLoC App

chore: build runner
  riverpod_app/lib/data/services/rest_client.g.dart
Due: Riverpod App

feat: add assert to challenge
  riverpod_app/lib/domain/answer.dart
  riverpod_app/lib/domain/answer.freezed.dart
  riverpod_app/lib/domain/answer.g.dart
  riverpod_app/lib/domain/challenge.dart
  riverpod_app/lib/domain/challenge.freezed.dart
  riverpod_app/lib/domain/challenge.g.dart
  riverpod_app/lib/domain/concept.dart
  riverpod_app/lib/domain/concept.freezed.dart
  riverpod_app/lib/domain/concept.g.dart
  riverpod_app/lib/domain/content_component.freezed.dart
  riverpod_app/lib/domain/content_component.g.dart
  riverpod_app/lib/domain/section.dart
  riverpod_app/lib/domain/section.freezed.dart
  riverpod_app/lib/domain/section.g.dart
  riverpod_app/test/domain/challenge_test.dart
Due: Riverpod App

ci: use global very_good cli
  .github/actions/run-tests/action.yaml
Due: none

docs: add docstring for concept
  riverpod_app/lib/domain/concept.dart
Due: Riverpod App

chore: build runner
  bloc_app/lib/data/services/rest_client.g.dart
  bloc_app/pubspec.lock
  bloc_app/test/mocks.mocks.dart
Due: BLoC App

chore: Update Flutter SDK to 3.29.3
  .fvmrc
  .vscode/settings.json
  bloc_app/pubspec.lock
  riverpod_app/pubspec.lock
Due: Riverpod App, BLoC App

chore: increase dart sdk constraints
  bloc_app/pubspec.yaml
  riverpod_app/pubspec.yaml
Due: Riverpod App, BLoC App

docs: enhance README for different audiences
  LICENSE
  README.md
  riverpod_app/LICENSE
Due: Riverpod App

docs: fix spelling
  README.md
Due: none

docs: use 2 spaces for indentation in markdown
  README.md
Due: none

docs: fix markdown lints
  README.md
Due: none

remove exclamation from parenthesis
  README.md
Due: none

docs: add setup instractions
  README.md
Due: none

docs: fix linked link
  README.md
Due: none

docs: use American english for consistency
  README.md
Due: none

docs: add badges
  README.md
Due: none

docs: add license badge, link to opening an issue, adjust wordings
  README.md
Due: none

fix MIT badge
  README.md
Due: none

ci: remove working directory again, because coverage wasn't found
  .github/actions/upload-test-results/action.yaml
Due: none

Revert "ci: add github artifact upload for debugging"
  .github/actions/upload-test-results/action.yaml
Due: none

ci: remove codecov token again
  .github/workflows/ci-apps.yaml
Due: none

ci: disable riverpod app build
  .github/workflows/ci-apps.yaml
Due: none

ci: Fix codecov path issues by using working-directory
  .github/actions/upload-test-results/action.yaml
  bloc_app/.gitignore
  riverpod_app/.gitignore
Due: Riverpod App, BLoC App

ci: skip bloc app build
  .github/workflows/ci-apps.yaml
Due: none
