Repository Peetee06/flutter-testing-concepts: changes, and which Codecov flags are due for each by the changed paths.
All: Riverpod App, BLoC App, riverpod_app, bloc_app, common, Common Package

codecov.yaml:

comment:
  layout: "header, diff, components"

coverage:
  status:
    project:
      default:
    patch:
      default:

component_management:
  individual_components:
    - component_id: riverpod_app
      name: Riverpod App
      paths:
        - riverpod_app/**/*
    - component_id: bloc_app
      name: BLoC App
      paths:
        - bloc_app/**/*

  default_rules:
    statuses:
      - type: project
        target: auto
        base: auto
      - type: patch
        target: auto
        base: auto

codecov.yml:

comment:
  layout: "header, diff, components"
  show_carryforward_flags: true

coverage:
  status:
    project:
      default:
        target: auto
        base: auto
    patch:
      default:
        target: auto
        base: auto

flags:
  riverpod_app:
    paths:
      - riverpod_app/**/*
    carryforward: true
  bloc_app:
    paths:
      - bloc_app/**/*
    carryforward: true
  common:
    paths:
      - common/**/*
    carryforward: true

component_management:
  individual_components:
    - component_id: riverpod_app
      name: Riverpod App
      paths:
        - riverpod_app/**/*
    - component_id: bloc_app
      name: BLoC App
      paths:
        - bloc_app/**/*
    - component_id: common
      name: Common Package
      paths:
        - common/**/*

  default_rules:
    statuses:
      - type: project
        target: auto
        base: auto
      - type: patch
        target: auto
        base: auto

Set parallel builds to yes
  riverpod_app/ios/Runner.xcodeproj/project.pbxproj
Due: Riverpod App, riverpod_app

build: add missing RunnerTests suffix
  riverpod_app/ios/Runner.xcodeproj/project.pbxproj
Due: Riverpod App, riverpod_app

build: uncomment ios deployment target
  bloc_app/ios/Podfile
  riverpod_app/ios/Podfile
Due: Riverpod App, BLoC App, riverpod_app, bloc_app

build: setup iOS files
  riverpod_app/.gitignore
  riverpod_app/ios/Flutter/AppFrameworkInfo.plist
  riverpod_app/ios/Podfile.lock
  riverpod_app/ios/Runner.xcodeproj/project.pbxproj
  riverpod_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  riverpod_app/ios/Runner.xcworkspace/contents.xcworkspacedata
  riverpod_app/ios/Runner/AppDelegate.swift
Due: Riverpod App, riverpod_app

test: cleanup tests
  bloc_app/test/features/challenges/view/widgets/challenge_card_test.dart
  riverpod_app/test/features/challenges/challenges_notifier_test.dart
  riverpod_app/test/features/concept/view/concept_view_test.dart
  riverpod_app/test/features/concepts/concepts_notifier_test.dart
Due: Riverpod App, BLoC App, riverpod_app, bloc_app

docs: update docs with riverpod app test information
  README.md
Due: none

docs: extract contribution and questions section
  CONTRIBUTING.md
  README.md
Due: none

docs: fix links
  README.md
Due: none

chore: upgrade to Flutter 3.38.5 and fix intl dependency
  .fvmrc
  .vscode/settings.json
  bloc_app/lib/l10n/arb/app_localizations.dart
  bloc_app/lib/l10n/arb/app_localizations_de.dart
  bloc_app/lib/l10n/arb/app_localizations_en.dart
  bloc_app/pubspec.lock
  bloc_app/pubspec.yaml
  riverpod_app/lib/l10n/arb/app_localizations.dart
  riverpod_app/lib/l10n/arb/app_localizations_de.dart
  riverpod_app/lib/l10n/arb/app_localizations_en.dart
  riverpod_app/pubspec.lock
  riverpod_app/pubspec.yaml
Due: Riverpod App, BLoC App, riverpod_app, bloc_app

fix: localization imports
  bloc_app/lib/l10n/l10n.dart
  riverpod_app/lib/l10n/l10n.dart
Due: Riverpod App, BLoC App, riverpod_app, bloc_app

chore: ignore app localizations files
  .github/actions/run-tests/action.yaml
  bloc_app/analysis_options.yaml
  riverpod_app/analysis_options.yaml
Due: Riverpod App, BLoC App, riverpod_app, bloc_app

chore: ignore generated localizations files on PR reviews
  .gitattributes
Due: none

chore: ignore app_localizations files from coverage
  codecov.yml
Due: none

chore: upgrade to Flutter 3.38.5 and fix intl dependency (#91)
  .fvmrc
  .gitattributes
  .github/actions/run-tests/action.yaml
  .vscode/settings.json
  bloc_app/analysis_options.yaml
  bloc_app/lib/l10n/arb/app_localizations.dart
  bloc_app/lib/l10n/arb/app_localizations_de.dart
  bloc_app/lib/l10n/arb/app_localizations_en.dart
  bloc_app/lib/l10n/l10n.dart
  bloc_app/pubspec.lock
  bloc_app/pubspec.yaml
  codecov.yml
  riverpod_app/analysis_options.yaml
  riverpod_app/lib/l10n/arb/app_localizations.dart
  riverpod_app/lib/l10n/arb/app_localizations_de.dart
  riverpod_app/lib/l10n/arb/app_localizations_en.dart
  riverpod_app/lib/l10n/l10n.dart
  riverpod_app/pubspec.lock
  riverpod_app/pubspec.yaml
Due: Riverpod App, BLoC App, riverpod_app, bloc_app

chore: setup flutter workspace for shared dependencies
  .cursor/commands/commit.md
  .cursor/rules/quality-gates.mdc
  .gitignore
  bloc_app/pubspec.yaml
  common/pubspec.yaml
  pubspec.lock
  pubspec.yaml
  riverpod_app/pubspec.lock
  riverpod_app/pubspec.yaml
Due: Riverpod App, BLoC App, riverpod_app, bloc_app, common, Common Package

docs: add PR description guidelines to commit command
  .cursor/commands/commit.md
Due: none

fix: address PR review comments
  bloc_app/integration_test/mocks.mocks.dart
  bloc_app/lib/data/services/rest_client.g.dart
  bloc_app/lib/features/challenges/challenges_route.dart
  bloc_app/lib/features/challenges/view/widgets/challenges_list.dart
  bloc_app/lib/features/concept/concept_route.dart
  bloc_app/lib/features/concept/view/widgets/sections_view.dart
  bloc_app/lib/features/concepts/concepts_route.dart
  bloc_app/lib/features/concepts/concepts_route.g.dart
  bloc_app/lib/features/concepts/view/concepts_view.dart
  bloc_app/lib/routing/go_router.dart
  bloc_app/pubspec.yaml
  bloc_app/test/features/challenges/challenges_route_test.dart
  bloc_app/test/features/challenges/view/widgets/challenges_list_test.dart
  bloc_app/test/features/concept/concept_route_test.dart
  bloc_app/test/features/concept/view/widgets/sections_view_test.dart
  bloc_app/test/features/concepts/concepts_route_test.dart
  bloc_app/test/features/concepts/view/concepts_view_test.dart
  bloc_app/test/mocks.mocks.dart
  bloc_app/test/routing/go_router_test.dart
  riverpod_app/lib/observers/app_riverpod_observer.dart
Due: Riverpod App, BLoC App, riverpod_app, bloc_app

chore: update dependencies
  bloc_app/pubspec.yaml
  common/pubspec.yaml
  pubspec.lock
  riverpod_app/pubspec.yaml
Due: Riverpod App, BLoC App, riverpod_app, bloc_app, common, Common Package

chore: update dependencies (#95)
  bloc_app/pubspec.yaml
  common/pubspec.yaml
  pubspec.lock
  riverpod_app/pubspec.yaml
Due: Riverpod App, BLoC App, riverpod_app, bloc_app, common, Common Package

docs: update Riverpod testing rules to use createContainer helper
  .cursor/rules/testing-rules.mdc
Due: none

docs: update Riverpod testing rules to use createContainer helper (#96)
  .cursor/rules/testing-rules.mdc
Due: none

refactor: simplify riverpod notifier testing with overrideWithBuild
  .cursor/rules/testing-rules.mdc
  riverpod_app/test/features/challenges/challenges_route_test.dart
  riverpod_app/test/features/challenges/fake_challenges_notifier.dart
  riverpod_app/test/features/challenges/view/challenges_view_test.dart
  riverpod_app/test/features/concept/concept_route_test.dart
  riverpod_app/test/features/concept/fake_concept_notifier.dart
  riverpod_app/test/features/concept/view/concept_view_test.dart
  riverpod_app/test/features/concepts/concepts_route_test.dart
  riverpod_app/test/features/concepts/fake_concepts_notifier.dart
  riverpod_app/test/features/concepts/view/concepts_view_test.dart
  riverpod_app/test/helpers/future_behavior.dart
  riverpod_app/test/helpers/helpers.dart
Due: Riverpod App, riverpod_app

refactor: simplify riverpod notifier testing with overrideWithBuild (#97)
  .cursor/rules/testing-rules.mdc
  riverpod_app/test/features/challenges/challenges_route_test.dart
  riverpod_app/test/features/challenges/fake_challenges_notifier.dart
  riverpod_app/test/features/challenges/view/challenges_view_test.dart
  riverpod_app/test/features/concept/concept_route_test.dart
  riverpod_app/test/features/concept/fake_concept_notifier.dart
  riverpod_app/test/features/concept/view/concept_view_test.dart
  riverpod_app/test/features/concepts/concepts_route_test.dart
  riverpod_app/test/features/concepts/fake_concepts_notifier.dart
  riverpod_app/test/features/concepts/view/concepts_view_test.dart
  riverpod_app/test/helpers/future_behavior.dart
  riverpod_app/test/helpers/helpers.dart
Due: Riverpod App, riverpod_app

feat: add network retry with exponential backoff for riverpod providers
  riverpod_app/lib/features/challenges/challenges_notifier.dart
  riverpod_app/lib/features/challenges/challenges_notifier.g.dart
  riverpod_app/lib/features/concept/concept_notifier.dart
  riverpod_app/lib/features/concept/concept_notifier.g.dart
  riverpod_app/lib/features/concepts/concepts_notifier.dart
  riverpod_app/lib/features/concepts/concepts_notifier.g.dart
  riverpod_app/lib/utils/retry.dart
  riverpod_app/test/utils/retry_test.dart
Due: Riverpod App, riverpod_app

feat: add network retry with exponential backoff for riverpod providers (#98)
  riverpod_app/lib/features/challenges/challenges_notifier.dart
  riverpod_app/lib/features/challenges/challenges_notifier.g.dart
  riverpod_app/lib/features/concept/concept_notifier.dart
  riverpod_app/lib/features/concept/concept_notifier.g.dart
  riverpod_app/lib/features/concepts/concepts_notifier.dart
  riverpod_app/lib/features/concepts/concepts_notifier.g.dart
  riverpod_app/lib/utils/retry.dart
  riverpod_app/test/utils/retry_test.dart
Due: Riverpod App, riverpod_app

refactor: inline ProviderContainer.test in tests
  riverpod_app/lib/utils/disable_retry.dart
  riverpod_app/test/app/config_test.dart
  riverpod_app/test/data/repositories/challenges_repository_test.dart
  riverpod_app/test/data/repositories/concepts_repository_test.dart
  riverpod_app/test/data/services/cache_manager_provider_test.dart
  riverpod_app/test/data/services/rest_client_test.dart
  riverpod_app/test/features/challenges/challenges_notifier_test.dart
  riverpod_app/test/features/concept/concept_notifier_test.dart
  riverpod_app/test/features/concepts/concepts_notifier_test.dart
  riverpod_app/test/helpers/helpers.dart
  riverpod_app/test/helpers/provider_container.dart
  riverpod_app/test/helpers/pump_app.dart
Due: Riverpod App, riverpod_app

refactor: inline ProviderContainer.test in tests (#99)
  riverpod_app/lib/utils/disable_retry.dart
  riverpod_app/test/app/config_test.dart
  riverpod_app/test/data/repositories/challenges_repository_test.dart
  riverpod_app/test/data/repositories/concepts_repository_test.dart
  riverpod_app/test/data/services/cache_manager_provider_test.dart
  riverpod_app/test/data/services/rest_client_test.dart
  riverpod_app/test/features/challenges/challenges_notifier_test.dart
  riverpod_app/test/features/concept/concept_notifier_test.dart
  riverpod_app/test/features/concepts/concepts_notifier_test.dart
  riverpod_app/test/helpers/helpers.dart
  riverpod_app/test/helpers/provider_container.dart
  riverpod_app/test/helpers/pump_app.dart
Due: Riverpod App, riverpod_app

refactor: convert notifiers to simple providers in riverpod_app
  README.md
  riverpod_app/lib/features/challenges/challenges_notifier.dart
  riverpod_app/lib/features/challenges/challenges_notifier.g.dart
  riverpod_app/lib/features/challenges/challenges_provider.dart
  riverpod_app/lib/features/challenges/challenges_provider.g.dart
  riverpod_app/lib/features/challenges/view/challenges_view.dart
  riverpod_app/lib/features/concept/concept_notifier.dart
  riverpod_app/lib/features/concept/concept_notifier.g.dart
  riverpod_app/lib/features/concept/concept_provider.dart
  riverpod_app/lib/features/concept/concept_provider.g.dart
  riverpod_app/lib/features/concept/view/concept_view.dart
  riverpod_app/lib/features/concepts/concepts_notifier.g.dart
  riverpod_app/lib/features/concepts/concepts_provider.dart
  riverpod_app/lib/features/concepts/concepts_provider.g.dart
  riverpod_app/lib/features/concepts/view/concepts_view.dart
  riverpod_app/test/features/challenges/challenges_provider_test.dart
  riverpod_app/test/features/challenges/challenges_route_test.dart
  riverpod_app/test/features/challenges/view/challenges_view_test.dart
  riverpod_app/test/features/concept/concept_provider_test.dart
  riverpod_app/test/features/concept/concept_route_test.dart
  riverpod_app/test/features/concept/view/concept_view_test.dart
  riverpod_app/test/features/concepts/concepts_provider_test.dart
  riverpod_app/test/features/concepts/concepts_route_test.dart
  riverpod_app/test/features/concepts/view/concepts_view_test.dart
Due: Riverpod App, riverpod_app

refactor: convert notifiers to simple providers in riverpod_app (#100)
  README.md
  riverpod_app/lib/features/challenges/challenges_notifier.dart
  riverpod_app/lib/features/challenges/challenges_notifier.g.dart
  riverpod_app/lib/features/challenges/challenges_provider.dart
  riverpod_app/lib/features/challenges/challenges_provider.g.dart
  riverpod_app/lib/features/challenges/view/challenges_view.dart
  riverpod_app/lib/features/concept/concept_notifier.dart
  riverpod_app/lib/features/concept/concept_notifier.g.dart
  riverpod_app/lib/features/concept/concept_provider.dart
  riverpod_app/lib/features/concept/concept_provider.g.dart
  riverpod_app/lib/features/concept/view/concept_view.dart
  riverpod_app/lib/features/concepts/concepts_notifier.g.dart
  riverpod_app/lib/features/concepts/concepts_provider.dart
  riverpod_app/lib/features/concepts/concepts_provider.g.dart
  riverpod_app/lib/features/concepts/view/concepts_view.dart
  riverpod_app/test/features/challenges/challenges_provider_test.dart
  riverpod_app/test/features/challenges/challenges_route_test.dart
  riverpod_app/test/features/challenges/view/challenges_view_test.dart
  riverpod_app/test/features/concept/concept_provider_test.dart
  riverpod_app/test/features/concept/concept_route_test.dart
  riverpod_app/test/features/concept/view/concept_view_test.dart
  riverpod_app/test/features/concepts/concepts_provider_test.dart
  riverpod_app/test/features/concepts/concepts_route_test.dart
  riverpod_app/test/features/concepts/view/concepts_view_test.dart
Due: Riverpod App, riverpod_app

feat: add challenge progress notifier for interactive answer selection
  riverpod_app/lib/features/challenges/challenge_progress.dart
  riverpod_app/lib/features/challenges/challenge_progress.freezed.dart
  riverpod_app/lib/features/challenges/challenge_progress_notifier.dart
  riverpod_app/lib/features/challenges/challenge_progress_notifier.g.dart
  riverpod_app/lib/features/challenges/view/widgets/challenge_card.dart
  riverpod_app/lib/l10n/arb/app_de.arb
  riverpod_app/lib/l10n/arb/app_en.arb
  riverpod_app/lib/l10n/arb/app_localizations.dart
  riverpod_app/lib/l10n/arb/app_localizations_de.dart
  riverpod_app/lib/l10n/arb/app_localizations_en.dart
  riverpod_app/test/features/challenges/challenge_progress_notifier_test.dart
  riverpod_app/test/features/challenges/view/widgets/challenge_card_test.dart
  riverpod_app/test/features/challenges/view/widgets/challenges_list_test.dart
Due: Riverpod App, riverpod_app

feat: add challenge progress notifier for interactive answer selection (#101)
  riverpod_app/lib/features/challenges/challenge_progress.dart
  riverpod_app/lib/features/challenges/challenge_progress.freezed.dart
  riverpod_app/lib/features/challenges/challenge_progress_notifier.dart
  riverpod_app/lib/features/challenges/challenge_progress_notifier.g.dart
  riverpod_app/lib/features/challenges/view/widgets/challenge_card.dart
  riverpod_app/lib/l10n/arb/app_de.arb
  riverpod_app/lib/l10n/arb/app_en.arb
  riverpod_app/lib/l10n/arb/app_localizations.dart
  riverpod_app/lib/l10n/arb/app_localizations_de.dart
  riverpod_app/lib/l10n/arb/app_localizations_en.dart
  riverpod_app/test/features/challenges/challenge_progress_notifier_test.dart
  riverpod_app/test/features/challenges/view/widgets/challenge_card_test.dart
  riverpod_app/test/features/challenges/view/widgets/challenges_list_test.dart
Due: Riverpod App, riverpod_app

docs: update README with ChallengeProgressNotifier and add Riverpod launch configs
  .vscode/launch.json
  riverpod_app/README.md
Due: Riverpod App, riverpod_app

docs: update README with ChallengeProgressNotifier and add Riverpod launch configs (#102)
  .vscode/launch.json
  riverpod_app/README.md
Due: Riverpod App, riverpod_app

ci: add if_not_found success to codecov config
  codecov.yml
Due: none
