Repository Peetee06/flutter-testing-concepts: changes, and which Codecov flags are due for each by the changed paths.
All: Riverpod App, BLoC App, riverpod_app, bloc_app, common, Common Package

ci: add if_not_found success to codecov config (#105)
  codecov.yml
Due: none

Revert "ci: add if_not_found success to codecov config (#105)"
  codecov.yml
Due: none

Revert "ci: add if_not_found success to codecov config" (#106)
  codecov.yml
Due: none

ci: use empty codecov upload for skipped tests
  .github/actions/build-flutter-package/action.yaml
  .github/actions/upload-test-results/action.yaml
  .github/workflows/ci-packages.yaml
Due: none

ci: use empty codecov upload for skipped tests (#107)
  .github/actions/build-flutter-package/action.yaml
  .github/actions/upload-test-results/action.yaml
  .github/workflows/ci-packages.yaml
Due: none

refactor: rename commit command to commit-and-pr
  .cursor/commands/commit-and-pr.md
Due: none

refactor: rename commit command to commit-and-pr (#103)
  .cursor/commands/commit-and-pr.md
Due: none

docs: update testing rules
  .cursor/rules/testing-rules.mdc
Due: none

docs: fix value provider example in testing rules
  .cursor/rules/testing-rules.mdc
Due: none

chore: ignore non-testable files
  codecov.yml
Due: none

docs: update testing rules (#104)
  .cursor/rules/testing-rules.mdc
  codecov.yml
Due: none

test: add challenges robot and progress flow integration test
  riverpod_app/integration_test/app_test.dart
  riverpod_app/integration_test/challenges_robot.dart
Due: Riverpod App, riverpod_app

ci: exclude integration tests from codecov and fix import
  codecov.yml
  riverpod_app/integration_test/challenges_robot.dart
Due: Riverpod App, riverpod_app

test: add challenges robot and progress flow integration test (#108)
  codecov.yml
  riverpod_app/integration_test/app_test.dart
  riverpod_app/integration_test/challenges_robot.dart
Due: Riverpod App, riverpod_app

feat: add interactive challenge card with progress tracking
  bloc_app/integration_test/app_test.dart
  bloc_app/integration_test/challenges_robot.dart
  bloc_app/lib/features/challenges/cubit/challenge_progress.dart
  bloc_app/lib/features/challenges/cubit/challenge_progress.freezed.dart
  bloc_app/lib/features/challenges/cubit/challenge_progress_cubit.dart
  bloc_app/lib/features/challenges/view/widgets/challenge_card.dart
  bloc_app/lib/l10n/arb/app_de.arb
  bloc_app/lib/l10n/arb/app_en.arb
  bloc_app/lib/l10n/arb/app_localizations.dart
  bloc_app/lib/l10n/arb/app_localizations_de.dart
  bloc_app/lib/l10n/arb/app_localizations_en.dart
  bloc_app/test/features/challenges/cubit/challenge_progress_cubit_test.dart
  bloc_app/test/features/challenges/view/widgets/challenge_card_test.dart
  bloc_app/test/features/challenges/view/widgets/challenges_list_test.dart
Due: BLoC App, bloc_app

feat: add interactive challenge card with progress tracking (#109)
  bloc_app/integration_test/app_test.dart
  bloc_app/integration_test/challenges_robot.dart
  bloc_app/lib/features/challenges/cubit/challenge_progress.dart
  bloc_app/lib/features/challenges/cubit/challenge_progress.freezed.dart
  bloc_app/lib/features/challenges/cubit/challenge_progress_cubit.dart
  bloc_app/lib/features/challenges/view/widgets/challenge_card.dart
  bloc_app/lib/l10n/arb/app_de.arb
  bloc_app/lib/l10n/arb/app_en.arb
  bloc_app/lib/l10n/arb/app_localizations.dart
  bloc_app/lib/l10n/arb/app_localizations_de.dart
  bloc_app/lib/l10n/arb/app_localizations_en.dart
  bloc_app/test/features/challenges/cubit/challenge_progress_cubit_test.dart
  bloc_app/test/features/challenges/view/widgets/challenge_card_test.dart
  bloc_app/test/features/challenges/view/widgets/challenges_list_test.dart
Due: BLoC App, bloc_app

chore: bump iOS minimum deployment target to 13.0
  bloc_app/ios/Flutter/AppFrameworkInfo.plist
  bloc_app/ios/Podfile
  bloc_app/ios/Podfile.lock
  bloc_app/ios/Runner.xcodeproj/project.pbxproj
  bloc_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/development.xcscheme
  bloc_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/production.xcscheme
  bloc_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/staging.xcscheme
  riverpod_app/ios/Flutter/AppFrameworkInfo.plist
  riverpod_app/ios/Podfile
  riverpod_app/ios/Podfile.lock
  riverpod_app/ios/Runner.xcodeproj/project.pbxproj
  riverpod_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  riverpod_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/development.xcscheme
  riverpod_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/production.xcscheme
  riverpod_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/staging.xcscheme
Due: Riverpod App, BLoC App, riverpod_app, bloc_app

chore: bump iOS minimum deployment target to 13.0 (#110)
  bloc_app/ios/Flutter/AppFrameworkInfo.plist
  bloc_app/ios/Podfile
  bloc_app/ios/Podfile.lock
  bloc_app/ios/Runner.xcodeproj/project.pbxproj
  bloc_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/development.xcscheme
  bloc_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/production.xcscheme
  bloc_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/staging.xcscheme
  riverpod_app/ios/Flutter/AppFrameworkInfo.plist
  riverpod_app/ios/Podfile
  riverpod_app/ios/Podfile.lock
  riverpod_app/ios/Runner.xcodeproj/project.pbxproj
  riverpod_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  riverpod_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/development.xcscheme
  riverpod_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/production.xcscheme
  riverpod_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/staging.xcscheme
Due: Riverpod App, BLoC App, riverpod_app, bloc_app

ci: centralize empty codecov upload in check-build-results job
  .github/actions/build-flutter-package/action.yaml
  .github/actions/upload-test-results/action.yaml
  .github/workflows/ci-packages.yaml
Due: none

ci: centralize empty codecov upload in check-build-results job (#112)
  .github/actions/build-flutter-package/action.yaml
  .github/actions/upload-test-results/action.yaml
  .github/workflows/ci-packages.yaml
Due: none

docs: update quality gates cursor rule
  .cursor/rules/quality-gates.mdc
Due: none

test: add syntax error to test CI pipeline validation
  common/lib/src/typedefs.dart
Due: common, Common Package

docs: update quality gates cursor rule (#111)
  .cursor/rules/quality-gates.mdc
Due: none

Path conditions:
  Riverpod App: (any of: riverpod_app/**/*) or (any of: riverpod_app/**/*, but not: **/app_localizations*.dart)
  BLoC App: (any of: bloc_app/**/*) or (any of: bloc_app/**/*, but not: **/app_localizations*.dart)
  riverpod_app: any of: riverpod_app/**/*, but not: **/app_localizations*.dart
  bloc_app: any of: bloc_app/**/*, but not: **/app_localizations*.dart
  common: any of: common/**/*, but not: **/app_localizations*.dart
  Common Package: any of: common/**/*, but not: **/app_localizations*.dart
