Repository Peetee06/flutter-testing-concepts: changes, and which Codecov flags are due for each by the changed paths.
All: Riverpod App, BLoC App

codecov.yaml:

comment:
  layout: "header, diff, components"

coverage:
  status:
    project:
      default:
    patch:
      default:

component_management:
  individual_components:
    - component_id: riverpod_app
      name: Riverpod App
      paths:
        - riverpod_app/**/*
    - component_id: bloc_app
      name: BLoC App
      paths:
        - bloc_app/**/*

  default_rules:
    statuses:
      - type: project
        target: auto
        base: auto
      - type: patch
        target: auto
        base: auto

ci: add github artifact upload for debugging
  .github/actions/upload-test-results/action.yaml
Due: none

ci: use codecov token for upload
  .github/workflows/ci-apps.yaml
Due: none

ci: fix codecov config file name
  codecov.yml
Due: none

Revert "ci: add github artifact upload for debugging"
  .github/actions/upload-test-results/action.yaml
Due: none

ci: disable riverpod app build
  .github/workflows/ci-apps.yaml
Due: none

ci: remove working directory again, because coverage wasn't found
  .github/actions/upload-test-results/action.yaml
Due: none

ci: Fix codecov path issues by using working-directory
  .github/actions/upload-test-results/action.yaml
  bloc_app/.gitignore
  riverpod_app/.gitignore
Due: Riverpod App, BLoC App

ci: skip bloc app build
  .github/workflows/ci-apps.yaml
Due: none

ci: remove codecov token again
  .github/workflows/ci-apps.yaml
Due: none

chore: Add git rules and update gitignore
  .cursor/rules/git-rules.mdc
  .gitignore
Due: none

chore: improve rules
  .cursor/rules/git-rules.mdc
Due: none

ci: ignore generated files on review
  .coderabbit.yaml
Due: none

ci: improve git rules for PRs
  .cursor/rules/git-rules.mdc
Due: none

test: add tests for more URIs cases
  bloc_app/test/common/utils/uri_converter_test.dart
Due: BLoC App

chore: build runner
  riverpod_app/lib/data/services/rest_client.g.dart
Due: Riverpod App

test: add test for answer serialization
  bloc_app/test/domain/answer_test.dart
Due: BLoC App

chore: format mockito generated files
  bloc_app/integration_test/mocks.mocks.dart
  bloc_app/test/mocks.mocks.dart
Due: BLoC App

fix: recursive serialization
  common/build.yaml
  common/lib/src/domain/challenge.g.dart
  common/lib/src/domain/concept.g.dart
  common/lib/src/domain/section.g.dart
  common/test/src/domain/challenge_test.dart
Due: none

test: add test for url converter
  bloc_app/test/common/utils/uri_converter_test.dart
Due: BLoC App

test: test serialization of concept
  bloc_app/test/domain/concept_test.dart
Due: BLoC App

test: add test for empty content component
  bloc_app/test/domain/section_test.dart
Due: BLoC App

ci: fix potential issue in output keys
  .github/workflows/ci-packages.yaml
Due: none

ci: also run app builds when common package changed
  .github/workflows/ci-packages.yaml
Due: none

refactor: remove files from bloc_app that have been moved to common package
  bloc_app/test/common/extensions/localizations_extension_test.dart
  bloc_app/test/common/utils/uri_converter_test.dart
  bloc_app/test/domain/answer_test.dart
  bloc_app/test/domain/concept_test.dart
  bloc_app/test/domain/content_component_test.dart
  bloc_app/test/domain/section_test.dart
  common/test/src/utils/uri_converter_test.dart
Due: BLoC App

test: add tests to correct files
  common/test/src/domain/answer_test.dart
  common/test/src/domain/concept_test.dart
  common/test/src/domain/section_test.dart
Due: none

ci: fix files changed triggers
  .github/workflows/ci-packages.yaml
Due: none

test: move tests into groups and add some
  common/test/src/utils/uri_converter_test.dart
Due: none
