Repository Peetee06/flutter-testing-concepts: changes, and which Codecov flags are due for each by the changed paths.
All: Riverpod App, BLoC App

codecov.yaml:

comment:
  layout: "header, diff, components"

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true

component_management:
  individual_components:
    - component_id: riverpod_app
      name: Riverpod App
      paths:
        - riverpod_app/**/*
    - component_id: bloc_app
      name: BLoC App
      paths:
        - bloc_app/**/*

  default_rules:
    statuses:
      - type: project
        target: auto
        base: auto
        informational: true
      - type: patch
        target: auto
        base: auto
        informational: true

ci: process coverage and test report files
  .github/actions/run-tests/action.yaml
Due: none

ci: always upload test results
  .github/actions/build-flutter-package/action.yaml
Due: none

ci: install lcov before cleaning up coverage
  .github/actions/run-tests/action.yaml
Due: none

ci: fix lcov cleanup command
  .github/actions/run-tests/action.yaml
Due: none

ci: remove codecov token as uploads from public repos don't require one
  .github/actions/build-flutter-package/action.yaml
  .github/actions/upload-test-results/action.yaml
  .github/workflows/ci-apps.yaml
Due: none

ci: fix reference to actions
  .github/actions/build-flutter-package/action.yaml
  .github/workflows/ci-apps.yaml
Due: none

ci: add test results upload
  .github/actions/build-flutter-package/action.yaml
  .github/actions/check-flutter-package/action.yaml
  .github/actions/run-tests/action.yaml
  .github/actions/setup-flutter-package/action.yaml
  .github/actions/upload-test-results/action.yaml
  .github/workflows/ci-apps.yaml
  bloc_app/pubspec.lock
  bloc_app/pubspec.yaml
  riverpod_app/pubspec.lock
  riverpod_app/pubspec.yaml
Due: Riverpod App, BLoC App

ci: add codecov config file
  codecov.yaml
Due: none

ci: add coderabbit configuration
  .coderabbit.yaml
Due: none

ci: make codecov checks required
  codecov.yaml
Due: none

feat: add basic classes and dependencies to riverpod app
  riverpod_app/lib/bootstrap.dart
  riverpod_app/lib/common/extensions/localizations_extension.dart
  riverpod_app/lib/common/typedefs.dart
  riverpod_app/lib/common/utils/uri_converter.dart
  riverpod_app/lib/data/services/interceptors/json_interceptor.dart
  riverpod_app/lib/data/services/rest_client.dart
  riverpod_app/lib/data/services/rest_client.g.dart
  riverpod_app/lib/domain/answer.dart
  riverpod_app/lib/domain/answer.freezed.dart
  riverpod_app/lib/domain/answer.g.dart
  riverpod_app/lib/domain/challenge.dart
  riverpod_app/lib/domain/challenge.freezed.dart
  riverpod_app/lib/domain/challenge.g.dart
  riverpod_app/lib/domain/concept.dart
  riverpod_app/lib/domain/concept.freezed.dart
  riverpod_app/lib/domain/concept.g.dart
  riverpod_app/lib/domain/content_component.dart
  riverpod_app/lib/domain/content_component.freezed.dart
  riverpod_app/lib/domain/content_component.g.dart
  riverpod_app/lib/domain/section.dart
  riverpod_app/lib/domain/section.freezed.dart
  riverpod_app/lib/domain/section.g.dart
  riverpod_app/pubspec.lock
  riverpod_app/pubspec.yaml
Due: Riverpod App

feat: add rest client provider
  .github/actions/run-tests/action.yaml
  bloc_app/pubspec.lock
  bloc_app/pubspec.yaml
  riverpod_app/lib/app/view/app.dart
  riverpod_app/lib/counter/counter.dart
  riverpod_app/lib/counter/cubit/counter_cubit.dart
  riverpod_app/lib/counter/view/counter_page.dart
  riverpod_app/lib/data/services/rest_client.dart
  riverpod_app/lib/data/services/rest_client.g.dart
  riverpod_app/pubspec.lock
  riverpod_app/pubspec.yaml
  riverpod_app/test/app/view/app_test.dart
  riverpod_app/test/counter/cubit/counter_cubit_test.dart
  riverpod_app/test/counter/view/counter_page_test.dart
Due: Riverpod App, BLoC App

ci: use global very_good cli
  .github/actions/run-tests/action.yaml
Due: none

ci: pin very_good_cli
  .github/actions/run-tests/action.yaml
Due: none

chore: add docstring for localization extension
  riverpod_app/lib/common/extensions/localizations_extension.dart
Due: Riverpod App

feat: add freezed dependency
  riverpod_app/lib/domain/challenge.dart
  riverpod_app/pubspec.lock
  riverpod_app/pubspec.yaml
Due: Riverpod App

feat: make explicit to json true
  riverpod_app/build.yaml
Due: Riverpod App

feat: add assert to challenge
  riverpod_app/lib/domain/answer.dart
  riverpod_app/lib/domain/answer.freezed.dart
  riverpod_app/lib/domain/answer.g.dart
  riverpod_app/lib/domain/challenge.dart
  riverpod_app/lib/domain/challenge.freezed.dart
  riverpod_app/lib/domain/challenge.g.dart
  riverpod_app/lib/domain/concept.dart
  riverpod_app/lib/domain/concept.freezed.dart
  riverpod_app/lib/domain/concept.g.dart
  riverpod_app/lib/domain/content_component.freezed.dart
  riverpod_app/lib/domain/content_component.g.dart
  riverpod_app/lib/domain/section.dart
  riverpod_app/lib/domain/section.freezed.dart
  riverpod_app/lib/domain/section.g.dart
  riverpod_app/test/domain/challenge_test.dart
Due: Riverpod App

ci: use global very_good via dart
  .github/actions/run-tests/action.yaml
Due: none

docs: add docstring for concept
  riverpod_app/lib/domain/concept.dart
Due: Riverpod App

refactor: add app config to inject base url
  riverpod_app/lib/app/config.dart
  riverpod_app/lib/app/config.freezed.dart
  riverpod_app/lib/app/config.g.dart
  riverpod_app/lib/data/services/rest_client.dart
  riverpod_app/lib/data/services/rest_client.g.dart
Due: Riverpod App

ci: fix very good cli call
  .github/actions/run-tests/action.yaml
Due: none

ci: add instruction for coderabbit to ignore generated files
  .coderabbit.yaml
Due: none

chore: build runner
  riverpod_app/lib/data/services/rest_client.g.dart
Due: Riverpod App

chore: ignore generated files in PRs
  .gitattributes
Due: none
