Repository Peetee06/flutter-testing-concepts: changes, and which Codecov flags are due for each by the changed paths.
All: Riverpod App, BLoC App, riverpod_app, bloc_app, common, Common Package

test: add verification for concept id in fake concept notifier
  riverpod_app/test/features/concept/fake_concept_notifier.dart
Due: Riverpod App, riverpod_app

test: adjust tests according to testing rules
  riverpod_app/test/features/concept/view/section_view_test.dart
Due: Riverpod App, riverpod_app

ci: improve testing rules by clarifying where to add helper methods and using pumpApp helper in widget tests
  .cursor/rules/testing-rules.mdc
Due: none

docs: add flutter and dart rules
  .cursor/rules/flutter-and-dart-rules.mdc
Due: none

docs: make renderflex overflow error wording more specific
  .cursor/rules/flutter-and-dart-rules.mdc
Due: none

docs: address review comments for flutter-and-dart-rules
  .cursor/rules/flutter-and-dart-rules.mdc
Due: none

docs: correct ProviderObserver link and error message
  .cursor/rules/flutter-and-dart-rules.mdc
  .cursor/rules/git-rules.mdc
Due: none

Revert "docs: correct ProviderObserver link and error message"
  .cursor/rules/flutter-and-dart-rules.mdc
  .cursor/rules/git-rules.mdc
Due: none

docs: specify to only use analyze and format command on dart files
  .cursor/rules/git-rules.mdc
Due: none

docs: adjust command to only show staged dart files
  .cursor/rules/git-rules.mdc
Due: none

docs: remove redundant HEAD parameter in command
  .cursor/rules/git-rules.mdc
Due: none

feat: implement challenges notifier and tests
  riverpod_app/lib/features/challenges/challenges_notifier.dart
  riverpod_app/lib/features/challenges/challenges_notifier.g.dart
  riverpod_app/pubspec.lock
  riverpod_app/pubspec.yaml
  riverpod_app/test/features/challenges/challenges_notifier_test.dart
  riverpod_app/test/mocks.dart
  riverpod_app/test/mocks.mocks.dart
Due: Riverpod App, riverpod_app

feat: Implement issue 51
  bloc_app/test/features/concept/view/widgets/sections_view_test.dart
  riverpod_app/lib/features/challenges/challenges_notifier.g.dart
  riverpod_app/lib/features/challenges/view/challenges_route.dart
  riverpod_app/lib/features/challenges/view/challenges_view.dart
  riverpod_app/lib/features/challenges/view/widgets/challenge_card.dart
  riverpod_app/lib/features/challenges/view/widgets/challenges_list.dart
  riverpod_app/lib/features/concept/view/widgets/sections_view.dart
  riverpod_app/lib/features/concepts/concepts_route.dart
  riverpod_app/lib/features/concepts/concepts_route.g.dart
  riverpod_app/lib/l10n/arb/app_de.arb
  riverpod_app/lib/l10n/arb/app_en.arb
  riverpod_app/test/features/challenges/challenges_notifier_test.dart
  riverpod_app/test/features/challenges/challenges_route_test.dart
  riverpod_app/test/features/challenges/fake_challenges_notifier.dart
  riverpod_app/test/features/challenges/view/challenges_view_test.dart
  riverpod_app/test/features/challenges/view/widgets/challenge_card_test.dart
  riverpod_app/test/features/challenges/view/widgets/challenges_list_test.dart
  riverpod_app/test/features/concept/concept_route_test.dart
  riverpod_app/test/features/concept/view/sections_view_test.dart
Due: Riverpod App, BLoC App, riverpod_app, bloc_app

test: improve challenges view tests
  riverpod_app/test/features/challenges/view/challenges_view_test.dart
Due: Riverpod App, riverpod_app

test: make challenge card test more specific
  riverpod_app/test/features/challenges/view/widgets/challenges_list_test.dart
Due: Riverpod App, riverpod_app

test: remove unnecessary equals
  riverpod_app/test/features/challenges/view/widgets/challenges_list_test.dart
Due: Riverpod App, riverpod_app

ci: make code rabbit more chill
  .coderabbit.yaml
Due: none

feat: add integration test for riverpod_app (issue #52)
  riverpod_app/integration_test/app_test.dart
  riverpod_app/integration_test/mocks.dart
  riverpod_app/integration_test/mocks.mocks.dart
  riverpod_app/lib/app/view/app.dart
  riverpod_app/lib/l10n/arb/app_de.arb
  riverpod_app/lib/l10n/arb/app_en.arb
  riverpod_app/pubspec.lock
  riverpod_app/pubspec.yaml
  riverpod_app/test/app/view/app_test.dart
Due: Riverpod App, riverpod_app

build: setup iOS files
  riverpod_app/.gitignore
  riverpod_app/ios/Flutter/AppFrameworkInfo.plist
  riverpod_app/ios/Podfile.lock
  riverpod_app/ios/Runner.xcodeproj/project.pbxproj
  riverpod_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  riverpod_app/ios/Runner.xcworkspace/contents.xcworkspacedata
  riverpod_app/ios/Runner/AppDelegate.swift
Due: Riverpod App, riverpod_app

build: add missing RunnerTests suffix
  riverpod_app/ios/Runner.xcodeproj/project.pbxproj
Due: Riverpod App, riverpod_app

build: uncomment ios deployment target
  bloc_app/ios/Podfile
  riverpod_app/ios/Podfile
Due: Riverpod App, BLoC App, riverpod_app, bloc_app

Set parallel builds to yes
  riverpod_app/ios/Runner.xcodeproj/project.pbxproj
Due: Riverpod App, riverpod_app

Path conditions:
  Riverpod App: any of: riverpod_app/**/*
  BLoC App: any of: bloc_app/**/*
  riverpod_app: any of: riverpod_app/**/*
  bloc_app: any of: bloc_app/**/*
  common: any of: common/**/*
  Common Package: any of: common/**/*
